<!-- Description: Recipe item template -->
<div class="recipe recipe-list-item">       

    <!-- #REGION: RECIPE COVER -->
    <div class="recipe-cover">
        <img src="https://placehold.co/1280x720/orange/white" alt="Temporary">
    </div>

    <!-- #REGION: RECIPE TITLE -->
    <div class="recipe-title-container">
        <h2>Lorem ipsum dolor sit amet.</h2>
    </div>

    <!-- #REGION: RECIPE AUTHOR -->
    <div class="recipe-author">

        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Tauan Torres Mendes
        </span>

        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            2021-09-01
        </span>

        <span class="recipe-author-item">
            <a href="#">
                <i class="fas fa-layer-group"></i>
                <span>Breakfast</span>
            </a>
        </span>

    </div>

    <!-- #REGION: RECIPE CONTENT -->
    <div class="recipe-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Distinctio quis natus maxime commodi qui vitae rem aliquid, 
            voluptatibus possimus sit.
        </p>
    </div>

    <!-- #REGION: RECIPE META -->
    <div class="recipe-meta-container">

        <!-- #REGION: RECIPE META PREPARATION -->
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fas fa-stopwatch"></i>
                Preparation
            </h3>
            <span>30 minutes</span>
        </div>

        <!-- #REGION: RECIPE META COOKING -->
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-pizza-slice"></i>
                Servings
            </h3>
            <span>4 portions</span>
        </div>
        
    </div>

    <!-- #REGION: RECIPE FOOTERS -->
    <footer class="recipe-footer">

        <a href="#" class="recipe-read-mode button button-dark button-full-width">
            <i class="fas fa-eye"></i>
            <span>
                Read more ...
            </span>
        </a>

    </footer>

</div>
